<head>
    <link rel="stylesheet" type="text/css" href="scripts/lib/StyleSheet1.css">
</head>


<div data-bind="foreach: answers">
    <h3>Answer</h3>
    <span data-bind="text: creationDate" id="date"></span>

    <span data-bind="text: score" id="score"></span>

    <span data-bind="html: body" id="body"></span>


    <span data-bind="text: url" id="url"></span>


    <span data-bind="component: {name: $parent.userComponent, params: {userUrl: userUrl}}" id="comp"></span>
    <span data-bind="component: {name: $parent.commentsComponent, params: {commentsUrl: commentsUrl}}"></span>
</div>
<span data-bind="text: total"></span>
<span data-bind="if: more"><button data-bind="click: moreClick.bind($data, more)">More Answers</button></span>