<h2>Answers</h2>
<span data-bind="foreach: answers">
    <h3>Answer</h3>
    <span data-bind="text: url"></span>
    <span data-bind="text: score"></span>
    <span data-bind="html: body"></span>
    <span data-bind="text: creationDate"></span>
    <span data-bind="component: {name: $parent.userComponent, params: {userUrl: userUrl}}"></span>
    <span data-bind="component: {name: $parent.commentsComponent, params: {commentsUrl: commentsUrl}}"></span>
</span>
<span data-bind="text: total"></span>
<span data-bind="if: more"><button data-bind="click: moreClick.bind($data, more)">More Answers</button></span>