<h1>Annotations</h1>
<table class="table table-striped">
    <thead>
        <tr><th>Date</th><th>ShipAddress</th><th></th></tr>
    </thead>
    <tbody data-bind="foreach: annotations">
        <tr>
            <td><a href="Url" data-bind="text: annotationUrl"></a></td>
            <td data-bind="text: Body"></td>
            <td data-bind="text: MarkingStart"></td>
            <td data-bind="text: MarkingEnd"></td>
            <td data-bind="text: PostId"></td>
            <td data-bind="text: CommentId"></td>
            <td data-bind="text: SearchUserId"></td>
            <td data-bind="text: QuestionUrl"></td>
            <td data-bind="text: AnswerUrl"></td>
            <td data-bind="text: CommentUrl"></td>
            <td data-bind="text: SearchUserUrl"></td>
        </tr>
    </tbody>
</table>