<h1>Annotations</h1>
<table class="table table-striped">
    <thead>
        <tr><th>Date</th><th>ShipAddress</th><th></th></tr>
    </thead>
    <tbody data-bind="foreach: orders">
        <tr>
            <td><a href="#" data-bind="text: orderDate"></a></td>
            <td data-bind="text: shipAddress"></td>
            <td>
                <a href="#edit" class="btn btn-xs btn-primary"><span class="glyphicon glyphicon-edit"></span></a>
                <a href="#delete" class="btn btn-xs btn-danger"><span class="glyphicon glyphicon-trash"></span></a>
            </td>
        </tr>
    </tbody>
</table>