<h1>Annotations</h1>
<div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Url</th>
            <th>Marking</th>
            <th></th>
            <th></th>
            <th>Body</th>
        </tr>
        </thead>
        <tbody data-bind="foreach: data">
        <tr data-bind="click: $parent.gotoquestion.bind($parent, markingStart, markingEnd, questionUrl, $root, searchUserId)">
            <td data-bind="text: url"></td>
            <td data-bind="if: questionUrl"><span data-bind="component: {name: $parent.markingComponent, params: {markingStart: $data.markingStart, markingEnd: $data.markingEnd, url: $data.questionUrl}}"></span></td>
            <td data-bind="if: answerUrl"><span data-bind="component: {name: $parent.markingComponent, params: {markingStart: $data.markingStart, markingEnd: $data.markingEnd, url: $data.answerUrl}}"></span></td>
            <td data-bind="if: commentUrl"><span data-bind="component: {name: $parent.markingComponent, params: {markingStart: $data.markingStart, markingEnd: $data.markingEnd, url: $data.commentUrl}}"></span>bla question</td>
            <td data-bind="component: {name: $parent.lineBodyComponent, params: body}"></td>
        </tr>

        </tbody>
    </table>
    <span>Total: </span>
    <span data-bind="text: total"></span>
    <span>Page: </span>
    <span data-bind="text: page"></span>
    <span data-bind="if: prev"><button data-bind="click: prevClick">Prev</button></span>
    <span data-bind="if: next"><button data-bind="click: nextClick">Next</button></span>
</div>